* {
  font-family: var(--font-inter), sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins), sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  border-radius: 0 !important;
}

input:disabled {
  background-color: #e9e6e6 !important;
}
