.editIcon {
    display: none;
    position: absolute;
}

.profileImg:hover .editIcon {
    display: block;
}

.profileImg:hover .mantine-Avatar-image {
    filter: opacity(0.8);
    cursor: pointer;
}